:root {
    --color-light: #FFF5E0;
    --color-blue: #141E46;
    --color-red: #C70039;
    --color-orange: rgb(255, 105, 105);
    --main-padding: 15px;
}

* {
     box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Alexandria', sans-serif;
}

.overlay
,.bg,
.card{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.overlay {
    background-color: var(--color-light);
    z-index: -1;
    opacity: .5;
}

.bg {
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -3;
    filter: blur(8px);
}


.card {
    max-width: 520px;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #FFFFFF99;
    padding: calc(var(--main-padding) * 2) calc(var(--main-padding) * 4);
    border-radius: 20px;
    box-shadow: 0 10px 50px 0 #141E4650;

}

.palestine {
    width: 200px;
    position: absolute;
    top: -90px;
    left: -25px;
}

.wedding-img {
    height: 200px;
}

p {
    margin-top: -35px;
    font-weight: 300;
    color: var(--color-red);
}

p,h3 {
    text-align: center;
}

@media screen and (max-width: 494px) {
    h3 {
        font-size: 10vw !important;
    }

    p {
        margin-top: -10px;
    }

    .card {
        padding-left: 15px;
        padding-right: 15px;
    }

    .palestine {
        width: 100px;
        position: absolute;
        top: 5px;
        left: 15px;
    }



}

h3 {
    font-size: 60px;
    font-weight: 900;
    color: var(--color-blue);
}

.infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infos img {
    width: 20px;
    margin-left: 10px;
}

.infos > span {
    margin-bottom: 15px;
}
.infos span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.infos span a {
    text-decoration: none;
    color: black;
}

div.counter-down {
    margin: 25px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.counter-down span {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}

div.counter-down span::before {
    width: 100%;
    content: attr(data-name);
    position: absolute;
    border-top: 1px solid #000;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    bottom: 5px;
    transition: 0.1s;
}



@media(max-width: 767px) {
    div.counter-down span {
        width: 60px;
        height: 70px;
    }
}

@media(max-width: 300px) {
    div.counter-down {
        flex-direction: column;
    }
}




@keyframes confetti-slow {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
        transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
}
@keyframes confetti-medium {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
        transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
}
@keyframes confetti-fast {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
        transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
}
.container {
    width: 100%;
    height: 100%;
    position: absolute !important;
    left: 0;
    top: 0;
}
.confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;
}
.confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
}
.confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
}
.confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
}
/* Checkmark */
.checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}
.checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #00c09d;
    position: absolute;
}
.checkmark-circle .checkmark {
    border-radius: 5px;
}
.checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-radius: 2.5px !important;
    content: '';
    left: 25px;
    top: 75px;
    position: absolute;
}
@-webkit-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}
@-moz-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}


